html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.44;
    padding-right: 5rem;
    padding-left: 5rem;
}

input, textarea {
    background: none;
    border: 1px #c9c9c9 solid;
    font-size: 1.4rem;
    color: #6a6868;
}  

.container a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 1030px;
    margin: auto;
}

.top {
    background: url(../img/mountains.jpg);
    background-size: cover;
    height: 360px;
    border-bottom: 0.2rem solid #cacaca;
    position: relative;
}

.navigation {
    position: absolute;
    top: 0.2rem;
    right: 2rem;
}

ul {
    font-size: 1.3rem;
    font-weight: bold;
    list-style-type: none;
    padding: 0.5rem;
    display: inline;
}

li {
    display: inline;
    margin-right: 3rem;
}

.top.row .search {
    height: 5rem;
    font-size: 3rem;
    color: #000;
}

.top.row a {
    color: #000;
}

.top.row .main-header {
    font-size: 2.4rem;
    color: #fff;
    margin-top: 1.8rem;
    margin-left: 5rem;
    position: absolute;
    top: 17rem;
    left: 0.3rem;
}

.article {
    background: #eeeeee;
    border-bottom: 0.2rem solid #cacaca;
}

.article.row .article-header {
    margin: auto;
    font-size: 3.6rem;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    text-align: center;
}

.bottom.row .contact-header {
    font-size: 3.6rem;
    padding-bottom: 3rem;
    padding-left: 8rem;
    padding-top: 5rem;
}

.text {
    column-count: 2;
    padding-bottom: 3rem;
}

.bottom {
    background-color: #fff;
    min-height: 32rem;
}

.contact-form {
    width: 32rem;
    padding-left: 8rem;
}

.name, .email {
    width: 100%;
    height: 3.5rem;
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Lato';
}

.msg {
    width: 100%;
    height: 3.5rem;
    margin-top: 2.5rem;
    padding: .5rem;
    text-align: center;
    font-size: 1.4rem;
    font-size: 1.4rem;
    font-family: 'Lato';
}

.send {
    background: #999999;
    border: none;
    padding: 0.5rem 2rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 3rem;
}

.address {
    font-size: 1.8rem;
    line-height: 2;
}

.footer {
    position: relative;
    background-color: #eeeeee;
}

.icons {
    text-align: center;
    max-width: 22%;
    top: 30%;
    margin: auto;
    position: relative;
}

.social {
    height: 5rem;
    width: 5rem;
    display: inline-block;
    font-size: 2.5rem;
    color: #fff;
    background: #000;
    border-radius: 3rem;
    text-align: center;
    position: relative;
    margin: 0.5rem;
}

.social i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.phone {
    font-size: 2.5rem;
    padding-top: 7rem;
}

.contact-data {
    padding-top: 1rem;
    text-align: center;
}